*{
    padding: 0px;
    margin: 0px;
}
#main{
    height: 600px;
    background: linear-gradient(to bottom left, LightSkyBlue, Plum);
    position: relative;
    width: 100%;
}
#conteiner{
    position: absolute;
    overflow: hidden;
    height: 600px;
    width: 500px;
    bottom: 50px;
    left: 50px;
    transition: 1s;
}
#button{
    background-color: MediumSlateBlue;
    color: white;
    font-size: 20px;
    height: 100px;
    width: 290px;
    border: solid 1px  MediumSlateBlue;
    border-radius: 10px;
    position: absolute;
    top: 300px;
    left: 200px;
}
.machta{
    width: 12px;
    height: 200px;
    background-color: MediumSlateBlue;
    left: 360px;
    top: 150px;
    position: absolute;
    
}
.parusleft{
    position: absolute;
    top: 150px;
    left: 257px;
    border-left: 100px solid transparent;
    border-bottom: 143px solid white;
    transform: rotateX(90deg);
}
.parusright{
    left: 375px;
    top: 150px;
    position: absolute;
    border-right: 65px solid transparent;
    border-bottom: 143px solid white;
    transform: rotateX(90deg);
}
@keyframes parus{
0%{
}   
100%{
    transform: rotateX(0deg);
} 
}
@keyframes machta{
0%{
    transform-origin: bottom center;
    transform: rotateZ(-90deg);
}   
100%{
    transform-origin: bottom center;
    transform: rotateZ(0deg);
} 
}
.machta-active{
    animation: machta 2s;
}
.parus-active{
   animation: parus 3s;
}