body {
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  
  .spisok {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .element {
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
  }
  
  .element:not(:last-child):after {
    content: ">";
    margin-left: 5px;
  }
  
  .ssylka {
    color: #0b56ea;
    text-decoration: none;
  }
  
  .ssylka:not(span):hover {
    text-decoration: underline;
  }
  
  .now {
    color: #333;
  }