p{
    font-size: 25px;
    margin-top: 20px;
    margin-left: 20px;
}
.text1{
    text-decoration-line: underline;
    text-decoration-color: blue;
    text-decoration-style: wavy;
}
.text2{
    text-decoration-line: underline;
    text-decoration-color: lightpink;
    text-decoration-style: dotted;
}
.text3{
    text-decoration-line: underline;
    text-decoration-color: green;
    text-decoration-style: dashed;
}
.text4{
    text-decoration-line: underline;
    text-decoration-color: red;
    text-decoration-style: double;
}
