body {
word-spacing: 1.5;
color: #333;
font-family: Arial, sans-serif;
font-size: 16px;
}
.title{
    font-size: 40px;
    color: #f03333;
   word-spacing: 1.2;
   text-transform: uppercase;
}
.subtitle{
    font-size: 30px;
    color: #12ac11;
   word-spacing: 1.2;
    text-decoration: underline;
}
.list{
    font-size: 20px;
    color: #444;
    list-style-type: square;
    font-style: oblique;
}