fieldset{
    height: 200px;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 10px;
    display: block;
}

#first{
    cursor: pointer;
}

#second{
    cursor: progress;
}

#third{
    cursor: wait;
}

#fourth{
cursor: url(spiderman1.png), grabbing;
}